include README.md

recursive-include idepy_next/extra/env *
recursive-include idepy_next/extra/templates *
recursive-include idepy_next/js *
recursive-include idepy_next/lib *


global-exclude __pycache__/*
global-exclude *.pyc
